<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="baseDAO" abstract="true">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--  employeeDAO  -->
    <bean id="employeeDAO" class="com.revanwang.ssh.rbac.dao.impl.EmployeeDAOImpl" parent="baseDAO"/>

    <!--  departmentDAO  -->
    <bean id="departmentDAO" class="com.revanwang.ssh.rbac.dao.impl.DepartmentDAOImpl" parent="baseDAO"/>

</beans>

